 .u-section-1 {
  background-image: none;
  min-height: 883px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: -309px auto 0 calc(((100% - 1140px) / 2)  + -655px);
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-image-1 {
  height: 523px;
  margin-top: 277px;
  margin-bottom: 0;
  object-position: 100% 100%;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: -416px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 614px;
  font-style: normal;
  margin: 18px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  align-self: center;
  margin: 49px auto 0;
  padding: 13px 59px 15px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  width: 1140px;
  margin: 189px auto 18px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 331px;
  grid-gap: 20px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/Vijolien65064a-Transparenten.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 21px 19px 0;
}

.u-section-1 .u-text-4 {
  margin: 30px 19px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/OranenFC9A10.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 21px 19px 0;
}

.u-section-1 .u-text-6 {
  margin: 30px 19px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-image-4 {
  background-image: url("images/Orannaf75b00.png");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 11px;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 21px 19px 0;
}

.u-section-1 .u-text-8 {
  margin: 30px 19px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: url("images/PrelivRdeihf60002.png");
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 21px 19px 0;
}

.u-section-1 .u-text-10 {
  margin: 30px 19px 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 194px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    object-position: 51.38% 50%;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 423px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 108px;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 338px;
  min-width: 146px;
  margin: 30px auto;
}

.u-section-2 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-2 .u-icon-6 {
  height: 100%;
  color: rgb(255, 69, 0) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 1244px;
}

.u-section-3 .u-group-1 {
  min-height: 419px;
  width: 1040px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.0625rem;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32.4px;
  margin: 18px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0;
  padding: 16px 48px 16px 47px;
}

.u-section-3 .u-shape-1 {
  width: 294px;
  height: 294px;
  background-image: linear-gradient(#f70848, #f1c50e);
  margin: 500px 0 0 846px;
}

.u-section-3 .u-image-1 {
  width: 675px;
  height: 675px;
  background-image: url("images/PolovicaSrca.png");
  background-position: 50% 50%;
  margin: -746px auto 0 396px;
}

.u-section-3 .u-image-2 {
  width: 389px;
  height: 389px;
  background-image: url("images/NotranjeSrce.png");
  background-position: 50% 50%;
  margin: -317px auto 0 136px;
}

.u-section-3 .u-image-3 {
  width: 276px;
  height: 276px;
  background-image: url("images/cb79fb92-5822-41b5-8521-40606e206660.png");
  background-position: 50% 50%;
  margin: -712px auto 0 50px;
}

.u-section-3 .u-shape-2 {
  width: 119px;
  height: 119px;
  margin: 17px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1399px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-btn-1 {
    padding: 13px 59px 15px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 746px;
  }

  .u-section-3 .u-image-1 {
    width: 644px;
    height: 644px;
    margin-left: 257px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 119px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-shape-1 {
    width: 265px;
    height: 265px;
    margin-left: 455px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 141px;
  }

  .u-section-3 .u-image-2 {
    width: 331px;
    height: 331px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 245px;
    height: 245px;
    margin-left: 17px;
  }

  .u-section-3 .u-shape-2 {
    width: 99px;
    height: 99px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-shape-1 {
    width: 223px;
    height: 223px;
    margin-left: 317px;
  }

  .u-section-3 .u-image-1 {
    width: 453px;
    height: 453px;
    margin-left: 63px;
  }

  .u-section-3 .u-image-2 {
    width: 282px;
    height: 282px;
    margin-top: -182px;
  }

  .u-section-3 .u-image-3 {
    width: 187px;
    height: 187px;
  }

  .u-section-3 .u-shape-2 {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1368px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-shape-1 {
    width: 156px;
    height: 156px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 291px;
    height: 291px;
    margin-right: 17px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 231px;
    height: 231px;
    margin-top: 18px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -663px;
  }
} .u-section-4 {
  background-image: url("images/13497e18-f87d-4d03-b357-fb11c35db3af.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 426px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 30px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 366px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 366px;
}

.u-section-4 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-4 .u-group-1 {
  width: 220px;
  min-height: 55px;
  height: auto;
  margin: 23px 412px 0 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 174px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 292px 0 30px;
}

.u-section-4 .u-group-2 {
  width: 220px;
  min-height: 55px;
  margin: 1px auto 0 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 35px 0 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-align: center;
  margin: 1px 292px 0 30px;
}

.u-section-4 .u-group-3 {
  width: 220px;
  min-height: 55px;
  margin: 0 auto 0 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 35px 0 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  text-align: center;
  margin: 0 292px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 315px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: 361px;
    margin-right: 235px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 195px;
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 195px;
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 195px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 85px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 176px;
  }

  .u-section-4 .u-text-2 {
    width: 300px;
    margin-right: 125px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 56px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 56px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    margin-right: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 801px;
}

.u-section-5 .u-shape-1 {
  width: 643px;
  background-image: linear-gradient(#f70848, #f1c50e);
  height: 801px;
  margin: 0 305px 0 192px;
}

.u-section-5 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px;
  margin: -736px auto 65px 48px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-5 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-right: 160px;
    margin-left: auto;
  }

  .u-section-5 .u-gallery-1 {
    width: 879px;
    height: 609px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-5 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-right: 77px;
    margin-left: 81px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
    height: 1122px;
    margin-top: -1296px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3028px;
  }

  .u-section-5 .u-shape-1 {
    width: 402px;
    height: 2907px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-1 {
    width: 440px;
    height: 2486px;
    margin-top: -2842px;
    margin-left: auto;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2481px;
  }

  .u-section-5 .u-shape-1 {
    width: 276px;
    height: 2201px;
  }

  .u-section-5 .u-gallery-1 {
    width: 305px;
    height: 1735px;
    margin-top: -2136px;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 810px;
}

.u-section-6 .u-text-1 {
  width: 311px;
  margin: 0 auto;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 688px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-image-1 {
  width: 157px;
  height: 162px;
  margin: 1px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 1px 1px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-6 .u-text-4 {
  margin: 0;
}

.u-section-6 .u-image-2 {
  width: 157px;
  height: 162px;
  margin: 1px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 1px 1px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-6 .u-text-6 {
  margin: 0;
}

.u-section-6 .u-image-3 {
  width: 157px;
  height: 162px;
  margin: 1px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 1px 1px 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-6 .u-text-8 {
  margin: 0;
}

.u-section-6 .u-image-4 {
  width: 157px;
  height: 162px;
  margin: 1px auto 0;
}

.u-section-6 .u-text-9 {
  margin: 1px 1px 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-6 .u-text-10 {
  margin: 0;
}

.u-section-6 .u-image-5 {
  width: 157px;
  height: 162px;
  margin: 1px auto 0;
}

.u-section-6 .u-text-11 {
  margin: 1px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 567px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 163px;
    margin-top: 34px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-image-2 {
    height: 163px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-image-3 {
    height: 163px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-image-4 {
    height: 163px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-image-5 {
    height: 163px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 977px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 34px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 15px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 48px;
  }
}